# project: EduManager 2026
# created: 2026-05-23 (Data)
# changed: 2026-05-23 (Data)

* text=auto

*.md text eol=lf
*.java text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
*.xml text eol=lf
*.properties text eol=lf
*.json text eol=lf
*.csv text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
